.messengers {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: $zindex-offcanvas;

  @include transition(0.3s $ease-out-cubic);
  
  // &:hover {
  //   transform: translate(100%, -50%);
  // }

  // &.is-open {
  //   transform: translate(0, -50%);
  // }

  &-opener {
    --rd-btn-padding-x: 0.5rem;
    --rd-btn-padding-y: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 1.5rem;
    transform: translateX(-99%);
  }

  ul {
    list-style: none;

    a {
      &:hover {
        color: $white;
      }
    }
  }
}