{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/fontawesome.js" type="text/javascript" defer></script>
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/brands.js" data-auto-replace-svg="nest" type="text/javascript" defer></script>
{% endcomment %}


<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/brands.js" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/solid.js" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/fontawesome.js" crossorigin="anonymous"></script>

<script src="https://unpkg.com/imask@6.4.2/dist/imask.min.js" crossorigin="anonymous"></script>
