<footer class="page-footer mt-auto pt-4 pb-7 py-lg-6">
  <div class="container-xl">
    <div class="row">
      <div class="col-12 col-sm-6">
        &copy; {{ "now" | date: "%Y" }} {{ site.description | escape }}
      </div>
      <div class="col-12 col-sm-6">
      <div div class="d-flex">
        <div class="page-footer-socials text-end my-auto ms-auto">
        {%- include social.html -%}
      </div>
    </div>
  </div>
</footer>
<button class="btn btn-to-top" type="button" aria-describedby="To top button">
  <i class="fas fa-chevron-up"></i>
</button>
<script src="{{ '/assets/js/vendor/form-validation.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/app.js' | relative_url }}" type="text/javascript"></script>