{%- assign fields = include.fields -%}
{%- assign action = include.action -%}
{%- assign message = include.message -%}
<form class="form form-callback text-white" data-need-validate="1">
  <div class="row gx-5 gy-4">
    {%- for field in fields -%}
      {%- if field.type == "textarea" -%}
      <div class="col-12">
        <textarea id="message" class="form-control ls-sm" rows="5" name="{{ field.entry }}" placeholder="{{ field.label }}" data-validate="maxlength_300"></textarea>
        <small class="error-message text-secondary"></small>
      </div>
      {%- else -%}
      <div class="col-6">
        <input class="form-control ls-sm" 
        type="{{ field.type }}" 
        name="{{ field.entry }}" 
        placeholder="{{ field.label }}" 
        data-validate="require minlength_2 maxlength_30 {{ field.type }}">
        <small class="error-message text-secondary"></small>
      </div>
      {%- endif -%}
    {%- endfor -%}
    <div class="col-12">
      <button class="btn btn-secondary" type="submit">
      {{ page.submit_text | default: "Submit" }}
        <div class="spinner-border" role="status" style="--rd-spinner-border-width:0.2rem;display:none;"></div>
      </button>
    </div>
  </div>
</form>
<script>
  window.addEventListener("DOMContentLoaded", function() {
    if (!window.hasOwnProperty("APP")) return;
    APP.validation.settings.afterValidate = function(form) {
      if (form.classList.contains("form-callback")) {
        form.querySelector("button .spinner-border").style.display = "inline-block";
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        var url = new URL("{{ action }}");

        xhr.open("POST", url, true);
        xhr.send(formData);

        xhr.onloadend = function() {
          switch (xhr.status) {
            case 0:
            case 200:
              form.innerHTML += '<div class="row"><div class="col-12"><p class="mt-4">{{ message }}</p></div></div>';
              form.reset();
              break;

            default:
              console.log("Error " + xhr.status + ": " + xhr.statusText); // Например, 404: Not Found
              break;
          }
          form.querySelector("button .spinner-border").style.display = "none";
        };
        xhr.onerror = function() {
          console.log("Submit has errors");
        };
        return false;
      }
    };
  });
</script>