<!-- Header :: start -->
<header class="page-header sticky-top py-3">
  <div class="container-xl">
    <div class="row flex-nowrap flex-lg-wrap g-0">
      <div class="col-2">
        <a class="page-header-brand" href="{{ '/' | relative_url }}">
          <img class="img-fluid" src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}">
        </a>
      </div>
      <div class="d-lg-flex align-items-center col-8">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}

        {%- if page_paths -%}
        <nav class="page-header__nav d-flex flex-grow-1">
          <ul class="d-flex flex-column flex-lg-row justify-content-center list-unstyled m-auto">

              {%- comment -%} {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <li class="page-header__nav-item">
                  <a class="d-inline-block text-uppercase" href="{{ page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </li>
                {%- endif -%}
              {%- endfor -%} {%- endcomment -%}

            {%- comment -%} Custom menus {%- endcomment -%}
              {%- for item in site.extra_header_nav -%}
                {%- if item.title -%}
                <li class="page-header__nav-item">
                  <a class="d-inline-block text-uppercase" href="{{ item.url }}">{{ item.title | escape }}</a>
                </li>
                {%- endif -%}
              {%- endfor -%}

          </ul>
        </nav>
        {%- endif -%}

        <div class="page-header-socials d-flex d-lg-none justify-content-center ms-n5">
          {%- include social.html -%}
        </div>
      </div>
      <div class="col-2 d-none d-lg-flex">
        <div class="page-header-socials text-end my-auto ms-auto">
          {%- include social.html -%}
        </div>
      </div>
      <button id="nav-toggle" class="btn burger-container bg-transparent ms-auto">
        <div class="burger-bar"></div>
      </button>
    </div>
  </div>
</header>
<!-- Header :: end -->
